.main__container {
   display: flex;
   font-family: Arial, Helvetica, sans-serif;
}

.left__panel {
   flex: 1;
   background-color: #f5f5f6;
   height: 90vh;
   min-height: 90vh;
   overflow-y: scroll;
}

.right__panel {
   flex: 4;
   background-color: #fff;
   height: 90vh;
   min-height: 90vh;
   overflow-y: scroll;
   box-shadow: inset #dedee1 5px 2px 10px; 
}
