* {
   margin: 0;
   padding: 0;
}

body {
   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   background-color: #ebeeef;
}

.container {
   display: flex;
   height: 90vh;
   align-items: center;
   justify-content: center;
   font-family: Arial, Helvetica, sans-serif;
}

.form__container {
   width: 100%;
   max-width: 450px;
   border-radius: 5px;
   display: flex;
   flex-direction: column;
   gap: 10px;
   background-color: #ffffff;
   border-radius: 15px;
}

.form__container h1 {
   font-size: 30px;
   font-weight: 900;
   text-align: center;
   color: #ffffff;
}

.upper__container {
   height: 100px;
   background: url("../images/bg/bg-01.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   border-radius: 15px 15px 0 0;
   display: flex;
   align-items: center;
   justify-content: center;
   opacity: 0.8;
}

form {
   display: flex;
   flex-direction: column;
   gap: 10px;
   padding: 20px 30px 40px;
}

.link {
   width: max-content;
   position: absolute;
   bottom: 5px;
   right: 10px;
}

.input_container {
   display: flex;
   align-items: center;
   gap: 10px;
   margin: 10px 0;
}

.input_container input {
   flex: 1;
   padding: 10px;
   outline: none;
   border: none;
   border-bottom: solid 1px gray;
}

.input_container .btn {
   flex: 0.3;
   margin: auto;
   padding: 15px;
   cursor: pointer;
   border: none;
   font-size: 16px;
   font-weight: 400;
   background-color: #57b846;
   border-radius: 30px;
   color: #ffffff;
   transition: all 0.2s ease-in-out;
}

.input_container .btn:hover {
   background-color: #333333 !important;
}

.error-msg {
   text-align: center;
   font-size: 12px;
   color: red;
}
